* {margin: 0;padding: 0;}
a {text-decoration: none}
li {list-style: none}
b {font-weight: normal}
em {font-style: normal}
body,html{width: 100%;height: 100%;}
.swiper-container{position: relative;width: 1519px;height: 762px;}
.swiper-container{position: relative;}
.swiper-slide{width: 100%;height: 100%;background-repeat: no-repeat;background-position: center; background-size: cover;}
.swiper-slide-01{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-1.jpg");}
.swiper-slide-02{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-2.jpg");}
.swiper-slide-03{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-3.jpg");}
.swiper-slide-04{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-4.jpg");
}
.swiper-slide-05{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-5.jpg");}
.swiper-slide-06{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-6.jpg");}
.swiper-slide-07{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-7.jpg");}
.swiper-slide-08{background-image:url("https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-8.jpg");}
.header{width: 1080px;height: 49px;position: absolute;z-index: 10;top: 0;left:50%; margin-left: -540px; padding: 15px 0;}
.header>a>svg{ margin: 8px 20px}

.header ul{float: right;color: #000;line-height: 49px;}
.header>ul>li{display: inline-block;cursor: pointer;}
.header>ul>li a{color: #fff; font-size: 16px; padding:8px 20px;}
.header>ul>li .head-cp{
    display: none;
    width: 240px;
    height: 204px;
    background-color: white;
    position: absolute;
    top:35px ;
    right:-240px ;
}
.header>ul>li>.cps:hover .head-cp{display: block;}

.header>ul>li.head-cp li{ display:inline-block;float: left;
    width: 200px;
    height: 48px;padding: 15px 20px 1px 20px ;}
.header>ul>li .head-cp>li>a {
    color: #000000;font-size: 20px;}
.header>ul>li .head-cp li span{display:block;font-size: 14px;color: #f2f2f2;}

.warp{width: 1040px;height: 146px;position:absolute;top: 50%;left: 50%;z-index: 10;margin-left: -520px;margin-top: -73px;}
.warp .warp-logo{font-size: 67.2px;font-weight: bold;line-height: 1;margin-bottom:20px ;font-family: Overpass, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
;
}
.warp .btn{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 14px 26px;
    border-radius: 6px;color: #fff;
    border: none;
    background: rgba(0, 0, 0, .6);}

.naws{
    width: 100%;height: 22px;padding: 10px;position: absolute;z-index: 10;bottom: 0;background: rgba(122, 112, 101, 0.4);}

.naws .naws-foot{ width: 1040px;height: 22px;margin: 0 auto; color: #fff;font-size: 16px;line-height: 22px;}
.naws-foot span{font-size: 12px;
    line-height: 18px;
    padding: 0 8px;
    text-transform: uppercase;
    border-radius: 6px;
    background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.nav{
     box-sizing: border-box; margin-left: -3px;margin-top:2px;}

.nav>a{
    float: left;  width: 25%;
    height:260px;
    padding: 37px;
    text-align: center;;
    border-left: 2px solid #fff;
    box-sizing: border-box;
    background: no-repeat center ;
    background-size: 378px 260px;
    position: relative;
    /*border-top-width: 2px;*/
    /*border-bottom: none;*/

}
.nav>a h3{font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
    text-align: center;
}
body .main{
    width: 100%;height: 50px;padding: 45px 0;
    border-bottom: 1px solid #eee;
}
.main ul{
    width: 1040px;
    margin: 0 auto;}
.main ul li{display: inline-block;
    float: left;
    width: 33.3%;
    height: 50px;}
.main ul li img{
    width: 50px;
    height: 50px;margin-right: 10px}
.main ul li div{ display: inline-block;}
.footer{width: 100%;height: 157px;
    border-bottom: 1px solid #eee; position: relative;
    font-weight: 300;
    max-width: 1080px;
    margin: 0 auto;
    padding: 45px 20px;
    font-size: 16px;
    color: #000;
}
.main-links{margin-right: 40px;
    width: 398px;float: left;}
.main-links li .font-logo img{
    display: inline-block;
    width: 160px;
    height: 36px;margin-bottom: 10px;}
.main-links li{
    display: inline-block;
    width: 398px;
    height: 36px;}
.main-links li a{ font-weight: 300;color: #000;}
.footer .right{float: left;
    width: 601px;
    height: 157px;}
.footer .right dl{ float: left;
    width: 25%;}
.footer .right dt{font-weight: bold;
    margin-bottom: 10px;font-size: 17.55px;
}
.footer .right dd{font-size: 15px;line-height: 30px;}
.footer-miscs {
    border-top: 1px solid #eee;
}
.container-md {position: relative;max-width: 1080px;margin: 0 auto;padding: 0 20px;
}
.footer-miscs .footer{display: flex;padding-top: 45px;padding-bottom: 45px;}
.footer-miscs .icp{font-size:12px;margin-top:4px;color: #aaa;}

.footer-badges{float: right;}





